In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

GAP/Sanliurfa -> Gaziantep ve urfa beraber

In [73]:
months = ['01,''02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
years = ['2010', '2011', '2012', '2013', '2014', '2015']
# years = ['2010']
cities = ['Adana', 'Adiyaman', 'Afyonkarahisar', 'Agri', 'Amasya', 'Ankara/Central', 
          'Antalya', 'Artvin', 'Aydin', 'Balikesir', 'Bilecik', 'Bingol', 'Bolu'
          , 'Burdur', 'Bursa', 'Canakkale', 'Cankiri', 'Corum', 'Denizli', 'Diyarbakir'
          , 'Edirne', 'Elazig', 'Erzincan', 'Erzurum', 'Eskisehir', 'Gap','Sanliurfa', 'Giresun'
          , 'Gumushane', 'Hakkari', 'Hatay', 'Isparta', 'Istanbul', 'Mersin', 'Izmir'
          , 'Kars', 'Kastamonu', 'Kayseri', 'Kirklareli', 'Kirsehir', 'Kocaeli', 'Konya'
          , 'Kutahya', 'Malatya', 'Manisa', 'Kahramanmaras', 'Mardin', 'Mugla', 'Mus', 'Nevsehir', 
          'Nigde', 'Ordu', 'Rize', 'Sakarya', 'Samsun', 'Siirt', 'Sinop', 'Sivas', 'Tekirdag', 'Tokat', 
          'Trabzon', 'Tunceli', 'Usak', 'Van', 'Yozgat', 'Zonguldak', 'Bayburt', 'Kirikkale', 'Batman', 
          'Sirnak', 'Igdir', 'Yalova', 'Karabuk', 'Kilis', 'Osmaniye', 'Duzce']

In [74]:
parameters = ['Temperature avarage, Fahrenheit / Celsius', 'Temperature maximum, Fahrenheit / Celsius', 'Temperature minimum, Fahrenheit / Celsius', 'Precipitation in / cm', 'Average daily wind speed (miles/hour)',
              'Visibility in miles', 'Dew point, Fahrenheit / Celsius', 'Maximum sustained wind speed (miles/hour)', 'Maximum wind gust reported for the day', 'Sea level pressure in mBARs', 
              'Station pressure in mBARs', 'Snow depth in inches', 'Weather type']

In [75]:
city_name = []
year_row = []
month_row = []
day = []
avarage_temp = []
maximum_temp = []
minimum_temp = []
precipitation = []
avarage_wind_speed = []
visibility = []
dew_point = []
max_sustained_wind_speed = []
max_wind_gust = []
sea_level_pressure = []
statiton_pressure_in_mbars = []
snow_depth = []
weather_type = []

In [76]:
def update_dict(records, key_name, update_element):
  # rec = records.get(key_name)
  records[key_name].append(str(update_element))

In [77]:
records = {'City': [], 'Year': [], 'Month': [], 'Day': [], 'Temperature avarage, Fahrenheit / Celsius': [], 'Temperature maximum, Fahrenheit / Celsius': [], 'Temperature minimum, Fahrenheit / Celsius': [], 
           'Precipitation in / cm': [], 'Average daily wind speed (miles/hour)': [], 'Visibility in miles': [], 'Dew point, Fahrenheit / Celsius': [], 'Maximum sustained wind speed (miles/hour)': [], 
           'Maximum wind gust reported for the day': [], 'Sea level pressure in mBARs': [], 'Station pressure in mBARs': [], 'Snow depth in inches': [], 'Weather type': []}

In [78]:
for city in cities:
  print(city)
  for year in years:
    for month in months:  
      url = "https://geographic.org/global_weather/weather_data_2.php?month={0}&year={1}&id=173520-99999&path=weather_stations/171880_267589/173520-99999.txt&name={2}&country=Turkey".format(month, year, city)

      page = requests.get(url)
      text = page.text
      soup = BeautifulSoup(text)

      for hit in soup.findAll(attrs={'id' : 'table'}):
        hit
      
      t = str(hit).split("<tr>")
      for x in range(len(t)):
        if x < 2:
          continue
        update_dict(records, 'City', city)
        update_dict(records, 'Year', year)
        update_dict(records, 'Month', month)
        # city_name.append(city)
        # year_row.append(year)
        # month_row.append(month)
        row = BeautifulSoup(t[x])
        day_number = row.find('strong').getText()
        # day.append(day_number)
        update_dict(records, 'Day', day_number)

      for x in range(len(t)):
        if x < 2:
          continue
        for param in parameters:
          row = BeautifulSoup(t[x])
          for test in row.findAll(attrs={'title' : param}):
            update_dict(records, param, test.text)
            # avarage_temp.append(test.text)

  df = pd.DataFrame(list(zip(records['City'], records['Year'], records['Month'], records['Day'], records['Temperature avarage, Fahrenheit / Celsius'], records['Temperature maximum, Fahrenheit / Celsius'], 
                           records['Temperature minimum, Fahrenheit / Celsius'], records['Precipitation in / cm'], records['Average daily wind speed (miles/hour)'], records['Visibility in miles'], 
                           records['Dew point, Fahrenheit / Celsius'], records['Maximum sustained wind speed (miles/hour)'], records['Maximum wind gust reported for the day'], records['Sea level pressure in mBARs'], 
                           records['Station pressure in mBARs'], records['Snow depth in inches'], records['Weather type'])), columns=list(records.keys()))
  df.to_csv('/content/drive/MyDrive/wildfire/turkey_daily_climate_data.csv')

Adana
Adiyaman
Afyonkarahisar
Agri
Amasya
Ankara/Central
Antalya
Artvin
Aydin
Balikesir
Bilecik
Bingol
Bolu
Burdur
Bursa
Canakkale
Cankiri
Corum
Denizli
Diyarbakir
Edirne
Elazig
Erzincan
Erzurum
Eskisehir
Gap
Sanliurfa
Giresun
Gumushane
Hakkari
Hatay
Isparta
Istanbul
Mersin
Izmir
Kars
Kastamonu
Kayseri
Kirklareli
Kirsehir
Kocaeli
Konya
Kutahya
Malatya
Manisa
Kahramanmaras
Mardin
Mugla
Mus
Nevsehir
Nigde
Ordu
Rize
Sakarya
Samsun
Siirt
Sinop
Sivas
Tekirdag
Tokat
Trabzon
Tunceli
Usak
Van
Yozgat
Zonguldak
Bayburt
Kirikkale
Batman
Sirnak
Igdir
Yalova
Karabuk
Kilis
Osmaniye
Duzce

In [79]:
df

,City,Year,Month,Day,"Temperature avarage, Fahrenheit / Celsius","Temperature maximum, Fahrenheit / Celsius","Temperature minimum, Fahrenheit / Celsius",Precipitation in / cm,Average daily wind speed (miles/hour),Visibility in miles,"Dew point, Fahrenheit / Celsius",Maximum sustained wind speed (miles/hour),Maximum wind gust reported for the day,Sea level pressure in mBARs,Station pressure in mBARs,Snow depth in inches,Weather type
0,Adana,2010,"01,02",1,57.0/13.9,66.2/19.0,44.6/7.0,N/A*,3.80,6,47.8/8.8,10.24,N/A*,N/A*,N/A*,N/A*,N/A*
1,Adana,2010,"01,02",2,59.2/15.1,66.2/19.0,51.8/11.0,N/A*,4.60,6,53.2/11.8,16.11,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
2,Adana,2010,"01,02",3,60.7/15.9,68.0/20.0,53.6/12.0,N/A*,7.25,5,42.8/6.0,16.11,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
3,Adana,2010,"01,02",4,57.3/14.1,66.2/19.0,46.4/8.0,N/A*,5.52,6,35.5/1.9,10.24,N/A*,N/A*,N/A*,N/A*,N/A*
4,Adana,2010,"01,02",5,55.0/12.8,59.0/15.0,51.8/11.0,N/A*,5.06,6,43.8/6.6,11.39,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139455,Batman,2015,10,30,54.2/12.3,72.0/22.2,40.8/4.9,0.00/0.00,2.07,4,37.6/3.1,6.90,N/A*,N/A*,N/A*,N/A*,N/A*
139456,Batman,2015,10,31,54.2/12.3,72.3/22.4,38.1/3.4,0.00/0.00,2.65,3,32.4/0.2,6.90,N/A*,N/A*,N/A*,N/A*,N/A*
139457,Batman,2015,11,1,53.4/11.9,66.9/19.4,44.4/6.9,0.00/0.00,5.41,4,29.9/-1.2,11.39,N/A*,N/A*,N/A*,N/A*,N/A*
139458,Batman,2015,11,2,52.2/11.2,62.8/17.1,41.9/5.5,0.00/0.00,7.94,6,21.7/-5.7,17.26,N/A*,N/A*,N/A*,N/A*,N/A*
139459,Batman,2015,11,3,45.1/7.3,50.0/10.0,41.0/5.0,0.00/0.00,12.43,6,13.6/-10.2,17.26,N/A*,N/A*,N/A*,N/A*,N/A*