In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

GAP/Sanliurfa -> Gaziantep ve urfa beraber

In [73]:
months = ['01,''02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
years = ['2010', '2011', '2012', '2013', '2014', '2015']
# years = ['2010']
cities = ['Adana', 'Adiyaman', 'Afyonkarahisar', 'Agri', 'Amasya', 'Ankara/Central', 
          'Antalya', 'Artvin', 'Aydin', 'Balikesir', 'Bilecik', 'Bingol', 'Bolu'
          , 'Burdur', 'Bursa', 'Canakkale', 'Cankiri', 'Corum', 'Denizli', 'Diyarbakir'
          , 'Edirne', 'Elazig', 'Erzincan', 'Erzurum', 'Eskisehir', 'Gap','Sanliurfa', 'Giresun'
          , 'Gumushane', 'Hakkari', 'Hatay', 'Isparta', 'Istanbul', 'Mersin', 'Izmir'
          , 'Kars', 'Kastamonu', 'Kayseri', 'Kirklareli', 'Kirsehir', 'Kocaeli', 'Konya'
          , 'Kutahya', 'Malatya', 'Manisa', 'Kahramanmaras', 'Mardin', 'Mugla', 'Mus', 'Nevsehir', 
          'Nigde', 'Ordu', 'Rize', 'Sakarya', 'Samsun', 'Siirt', 'Sinop', 'Sivas', 'Tekirdag', 'Tokat', 
          'Trabzon', 'Tunceli', 'Usak', 'Van', 'Yozgat', 'Zonguldak', 'Bayburt', 'Kirikkale', 'Batman', 
          'Sirnak', 'Igdir', 'Yalova', 'Karabuk', 'Kilis', 'Osmaniye', 'Duzce']

In [74]:
parameters = ['Temperature avarage, Fahrenheit / Celsius', 'Temperature maximum, Fahrenheit / Celsius', 'Temperature minimum, Fahrenheit / Celsius', 'Precipitation in / cm', 'Average daily wind speed (miles/hour)',
              'Visibility in miles', 'Dew point, Fahrenheit / Celsius', 'Maximum sustained wind speed (miles/hour)', 'Maximum wind gust reported for the day', 'Sea level pressure in mBARs', 
              'Station pressure in mBARs', 'Snow depth in inches', 'Weather type']

In [75]:
city_name = []
year_row = []
month_row = []
day = []
avarage_temp = []
maximum_temp = []
minimum_temp = []
precipitation = []
avarage_wind_speed = []
visibility = []
dew_point = []
max_sustained_wind_speed = []
max_wind_gust = []
sea_level_pressure = []
statiton_pressure_in_mbars = []
snow_depth = []
weather_type = []

In [76]:
def update_dict(records, key_name, update_element):
  # rec = records.get(key_name)
  records[key_name].append(str(update_element))

In [77]:
records = {'City': [], 'Year': [], 'Month': [], 'Day': [], 'Temperature avarage, Fahrenheit / Celsius': [], 'Temperature maximum, Fahrenheit / Celsius': [], 'Temperature minimum, Fahrenheit / Celsius': [], 
           'Precipitation in / cm': [], 'Average daily wind speed (miles/hour)': [], 'Visibility in miles': [], 'Dew point, Fahrenheit / Celsius': [], 'Maximum sustained wind speed (miles/hour)': [], 
           'Maximum wind gust reported for the day': [], 'Sea level pressure in mBARs': [], 'Station pressure in mBARs': [], 'Snow depth in inches': [], 'Weather type': []}

In [ ]:
for city in cities:
  print(city)
  for year in years:
    for month in months:  
      url = "https://geographic.org/global_weather/weather_data_2.php?month={0}&year={1}&id=173520-99999&path=weather_stations/171880_267589/173520-99999.txt&name={2}&country=Turkey".format(month, year, city)

      page = requests.get(url)
      text = page.text
      soup = BeautifulSoup(text)

      for hit in soup.findAll(attrs={'id' : 'table'}):
        hit
      
      t = str(hit).split("<tr>")
      for x in range(len(t)):
        if x < 2:
          continue
        update_dict(records, 'City', city)
        update_dict(records, 'Year', year)
        update_dict(records, 'Month', month)
        # city_name.append(city)
        # year_row.append(year)
        # month_row.append(month)
        row = BeautifulSoup(t[x])
        day_number = row.find('strong').getText()
        # day.append(day_number)
        update_dict(records, 'Day', day_number)

      for x in range(len(t)):
        if x < 2:
          continue
        for param in parameters:
          row = BeautifulSoup(t[x])
          for test in row.findAll(attrs={'title' : param}):
            update_dict(records, param, test.text)
            # avarage_temp.append(test.text)

  df = pd.DataFrame(list(zip(records['City'], records['Year'], records['Month'], records['Day'], records['Temperature avarage, Fahrenheit / Celsius'], records['Temperature maximum, Fahrenheit / Celsius'], 
                           records['Temperature minimum, Fahrenheit / Celsius'], records['Precipitation in / cm'], records['Average daily wind speed (miles/hour)'], records['Visibility in miles'], 
                           records['Dew point, Fahrenheit / Celsius'], records['Maximum sustained wind speed (miles/hour)'], records['Maximum wind gust reported for the day'], records['Sea level pressure in mBARs'], 
                           records['Station pressure in mBARs'], records['Snow depth in inches'], records['Weather type'])), columns=list(records.keys()))
  df.to_csv('/content/drive/MyDrive/wildfire/turkey_daily_climate_data.csv')

Adana
Adiyaman
Afyonkarahisar

,City,Year,Month,Day,"Temperature avarage, Fahrenheit / Celsius","Temperature maximum, Fahrenheit / Celsius","Temperature minimum, Fahrenheit / Celsius",Precipitation in / cm,Average daily wind speed (miles/hour),Visibility in miles,"Dew point, Fahrenheit / Celsius",Maximum sustained wind speed (miles/hour),Maximum wind gust reported for the day,Sea level pressure in mBARs,Station pressure in mBARs,Snow depth in inches,Weather type
0,Adana,2010,01,1,52.0/11.1,57.2/14.0,44.6/7.0,N/A*,2.30,5,42.9/6.1,6.90,N/A*,N/A*,N/A*,N/A*,N/A*
1,Adana,2010,01,2,59.5/15.3,69.8/21.0,51.8/11.0,N/A*,4.72,3,53.3/11.8,12.77,N/A*,N/A*,N/A*,N/A*,N/A*
2,Adana,2010,01,3,57.9/14.4,64.4/18.0,50.0/10.0,N/A*,5.64,6,50.1/10.1,14.96,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
3,Adana,2010,01,4,58.0/14.4,68.0/20.0,48.2/9.0,N/A*,8.40,7,45.5/7.5,27.50,37.98,N/A*,N/A*,N/A*,Rain/Drizzle
4,Adana,2010,01,5,53.0/11.7,64.4/18.0,42.8/6.0,N/A*,2.65,6,34.9/1.6,4.72,N/A*,N/A*,N/A*,N/A*,N/A*
5,Adana,2010,01,6,52.8/11.6,66.2/19.0,41.0/5.0,N/A*,2.30,4,42.1/5.6,5.87,N/A*,N/A*,N/A*,N/A*,N/A*
6,Adana,2010,01,7,53.2/11.8,64.4/18.0,44.6/7.0,N/A*,1.15,4,43.5/6.4,2.19,N/A*,N/A*,N/A*,N/A*,N/A*
7,Adana,2010,01,8,55.0/12.8,69.8/21.0,42.8/6.0,N/A*,1.50,4,42.7/5.9,2.19,N/A*,N/A*,N/A*,N/A*,N/A*
8,Adana,2010,01,9,56.4/13.6,71.6/22.0,44.6/7.0,N/A*,1.61,4,43.9/6.6,4.72,N/A*,N/A*,N/A*,N/A*,N/A*
9,Adana,2010,01,10,55.0/12.8,66.2/19.0,46.4/8.0,N/A*,1.96,3,43.0/6.1,4.72,N/A*,N/A*,N/A*,N/A*,N/A*
10,Adana,2010,01,11,55.0/12.8,64.4/18.0,42.8/6.0,N/A*,3.68,4,41.8/5.4,9.21,N/A*,N/A*,N/A*,N/A*,N/A*
11,Adana,2010,01,12,54.2/12.3,60.8/16.0,50.0/10.0,N/A*,3.80,3,45.7/7.6,9.21,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
12,Adana,2010,01,13,53.3/11.8,57.2/14.0,50.0/10.0,N/A*,4.14,3,48.4/9.1,6.90,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
13,Adana,2010,01,14,52.9/11.6,55.4/13.0,51.8/11.0,N/A*,4.83,3,50.4/10.2,9.21,N/A*,N/A*,N/A*,N/A*,"Rain/Drizzle, Thunder"
14,Adana,2010,01,15,55.0/12.8,59.0/15.0,51.8/11.0,N/A*,4.95,3,50.3/10.2,8.06,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
15,Adana,2010,01,16,57.6/14.2,62.6/17.0,53.6/12.0,N/A*,3.91,4,50.3/10.2,8.06,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
16,Adana,2010,01,17,60.5/15.8,64.4/18.0,55.4/13.0,N/A*,8.17,5,45.4/7.4,13.81,N/A*,N/A*,N/A*,N/A*,N/A*
17,Adana,2010,01,18,57.1/13.9,60.8/16.0,53.6/12.0,N/A*,5.52,3,48.1/8.9,18.30,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
18,Adana,2010,01,19,56.9/13.8,62.6/17.0,50.0/10.0,N/A*,4.26,4,50.4/10.2,9.21,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
19,Adana,2010,01,20,52.9/11.6,55.4/13.0,44.6/7.0,N/A*,4.95,3,49.2/9.6,13.81,28.88,N/A*,N/A*,N/A*,"Rain/Drizzle, Thunder"
20,Adana,2010,01,21,50.4/10.2,59.0/15.0,44.6/7.0,N/A*,3.68,4,44.6/7.0,9.21,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
21,Adana,2010,01,22,50.9/10.5,57.2/14.0,39.2/4.0,N/A*,5.18,4,41.2/5.1,10.24,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
22,Adana,2010,01,23,53.8/12.1,57.2/14.0,51.8/11.0,N/A*,4.95,3,49.7/9.8,11.39,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
23,Adana,2010,01,24,50.8/10.4,53.6/12.0,48.2/9.0,N/A*,6.33,4,45.7/7.6,13.81,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
24,Adana,2010,01,25,48.4/9.1,55.4/13.0,41.0/5.0,N/A*,10.01,7,24.4/-4.2,17.26,N/A*,N/A*,N/A*,N/A*,N/A*
25,Adana,2010,01,26,40.4/4.7,46.4/8.0,28.4/-2.0,N/A*,11.97,7,11.3/-11.5,20.83,N/A*,N/A*,N/A*,N/A*,N/A*
26,Adana,2010,01,27,39.0/3.9,50.0/10.0,26.6/-3.0,N/A*,2.30,5,19.6/-6.9,8.06,N/A*,N/A*,N/A*,N/A*,N/A*
27,Adana,2010,01,28,45.6/7.6,50.0/10.0,37.4/3.0,N/A*,11.16,6,22.3/-5.4,17.26,N/A*,N/A*,N/A*,N/A*,N/A*
28,Adana,2010,01,29,46.9/8.3,50.0/10.0,44.6/7.0,N/A*,10.24,7,34.0/1.1,14.96,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle
29,Adana,2010,01,30,53.8/12.1,59.0/15.0,48.2/9.0,N/A*,12.54,7,37.9/3.3,21.86,25.32,N/A*,N/A*,N/A*,N/A*
30,Adana,2010,01,31,54.5/12.5,57.2/14.0,48.2/9.0,N/A*,5.87,5,44.6/7.0,12.77,N/A*,N/A*,N/A*,N/A*,Rain/Drizzle

In [ ]:
print(hit.prettify())

In [ ]:
t[2]

In [ ]:

row

['54.5/12.5',
 '67.6/19.8',
 '43.9/6.6',
 '0.07/0.18',
 '3.91',
 '4',
 '37.6/3.1',
 '11.39',
 'N/A*',
 'N/A*',
 'N/A*',
 'N/A*',
 'N/A*']